body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #282c36;
    color: white;
}
.ball {
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    margin: 20px auto;
}
.search{
    
    /*display: flex;*/
    align-self: center;
    align-items: center;
    padding: var(padding);
    border-radius: 28px;
    background: white;
    width: 600px;
}
.search-input{
    width: max-content;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: var(padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}
.button{
    width: 40px;
    margin-top: 10px;
    /* display: flex; */
    align-self: center; 
    align-items: center;
    padding: var(padding);
    border-radius: 28px;
    background: white;
}
.search-button
{
    margin-top: 20px;
}

/* .shaked:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
    
  } */
@keyframes shake {
    0% {
        transform: translate(0, 0)
    };

    25% {
        transform: translate(-50px, 50px)
    }

    ;

    50% {
        transform: translate(50px, -50px)
    }

    ;

    100% {
        transform: translate(0, 0)
    }

    ;
}

.shake{
    animation: shake 0,1s, ease-in-out;
}